@import '../../../styles/settings.scss';

.allPostsList{
  border: 1px solid $color-grey;
  padding: 15px;
  width: 100%;

  h2{
    font-size: 20px;
  }

  h4{
    font-weight: bold;
    font-size: 15px;
  }

  span{
    color: $color-grey;
  }
}